{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "css/story8.css" %}'>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <title>Homepage</title>
</head>
<div class="centered">
    <p>Which one would you like to see? </p>
    <a href="/story7">
        <button class="button">Story 7</button>
    </a>
    <a href="/story8">
        <button class="button2">Story 8</button>
    </a>
    <a href="/story9">
        <button class="button3">Story 9</button>
    </a>
    <a href="/story10">
        <button class="button4">Story 10</button>
    </a>
</div>
<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>
</body>
</html>