{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href='{% static "css/story8.css" %}'>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <title>Story 8</title>
</head>
<body>
<p id="j-font">Sedikit Tentang Celine...</p>
<div class="container">
    <div class="accordion-container">
        <div class="accordion shadow" data-aos="fade-zoom-in">
            <div class="accordion-header">
                <div class="accordion-header-left" id="activityButton">
                    <div class="accordion-title">
                        Aktivitas
                    </div>
                </div>
                <div class="accordion-buttons">
                    <div class="accordion-button-up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="accordion-button-down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="accordion-body hidden" id="activityBody">
                <div class="activity-card-container">
                    <div>
                        <ul>
                            <li>Mengerjakan Story PPW</li>
                            <li>Menonton Video Pelajaran</li>
                            <li>Menonton Film</li>
                            <li>Bermain Game</li>
                            <li>Ngobrol Bersama Teman-Teman</li>
                            <li>Tidur</li>
                            <li>Hal-Hal Gabut Lainnya</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion shadow" data-aos="fade-zoom-in">
            <div class="accordion-header">
                <div class="accordion-header-left" id="experienceButton">
                    <div class="accordion-title">
                        Organisasi / Kepanitiaan
                    </div>
                </div>
                <div class="accordion-buttons">
                    <div class="accordion-button-up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="accordion-button-down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="accordion-body hidden" id="experienceBody">
                <div class="activity-card-container">
                    <div>
                        <p>
                        <ul>
                            <li>Mengikuti Panitia Compfest Divisi Digital Marketing</li>
                            <li>Mengikuti Panitia PERAK Fasilkom 2020 Divisi Public Relation</li>
                            <li>Mengikuti Panitia OLIMPIADE UI 2019 Divisi Basket</li>
                            <li>Mengikuti Panitia USC UI 2019 Divisi Basket</li>
                            <li>Menjadi Humas di UKM BOLA VOLI UI</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion shadow" data-aos="fade-zoom-in">
            <div class="accordion-header">
                <div class="accordion-header-left" id="achievementButton">
                    <div class="accordion-title">
                        Prestasi
                    </div>
                </div>
                <div class="accordion-buttons">
                    <div class="accordion-button-up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="accordion-button-down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="accordion-body hidden" id="achievementBody">
                <div class="activity-card-container">
                    <div id="nf-font">
                        <p>404 Not Found, gak deng, cuma belom ada yang layak untuk ditulis</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion shadow" data-aos="fade-zoom-in">
            <div class="accordion-header">
                <div class="accordion-header-left" id="contactButton">
                    <div class="accordion-title">
                        Biodata
                    </div>
                </div>
                <div class="accordion-buttons">
                    <div class="accordion-button-up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="accordion-button-down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="accordion-body hidden" id="contactBody">
                <div class="activity-card-container">
                    <div>
                        <ul>
                            <li>Nama : Celine Ivo</li>
                            <li>Tanggal Lahir : 8 July 2000</li>
                            <li>Hobby : Nonton film, main-main, tidur, dan mengobrol sama teman.
                            </li>
                            <li>Makanan Kesukaan : Seafood dan Sushi</li>
                            <li>Minuman Kesukaan : Es Teh Manis</li>
                            <li>Mata Kuliah Kesukaan : Tidak Ada</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="center">
    <button id="styleModifier" class="button">Change Theme</button>
</div>

<div id="background-wrap>
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>


<script>
    AOS.init();
    $('#activityButton').click(function () {
        $('#activityBody').toggleClass('hidden');
    })
    $('#experienceButton').click(function () {
        $('#experienceBody').toggleClass('hidden');
    })
    $('#achievementButton').click(function () {
        $('#achievementBody').toggleClass('hidden');
    })
    $('#contactButton').click(function () {
        $('#contactBody').toggleClass('hidden');
    })

    $('.accordion-button-up').click(function () {
        var thisAccordion = $(this).parent().parent().parent();
        thisAccordion.insertBefore(thisAccordion.prev());
    })

    $('.accordion-button-down').click(function () {
        var thisAccordion = $(this).parent().parent().parent();
        thisAccordion.insertAfter(thisAccordion.next());
    })
    $('#styleModifier').on('click', () => {
        $('.accordion-header').toggleClass('new-bar');
        $('body').toggleClass('new-body');
        $('#j-font').toggleClass('new-j')
    })


</script>

</body>
</html>
