{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href='{% static "css/story7.css" %}'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Podkova"/>

    <title>Story 7</title>
</head>
<body style="background-color: powderblue">
<div class="row">
    <div class="column">
        <div class="form-style-6" id="formm">
            <h1>What's on your mind?</h1>
            <form action="/story7/post/" method="post">
                {% csrf_token %}
                <input type="text" name="nama" placeholder="Your Name"/>
                <textarea name="status" placeholder="Your Status"></textarea>
                <input class="submit-btn" type="submit" value="Send"/>
            </form>
        </div>
    </div>
    <div class="column">
        <div id="data">
            <br><br><br>
            <div id="p-font">
                <h1>Posted Status</h1>
            </div>
            {% for i in data %}
            <div id="status-box">
                <h3>Name : </h3>
                <p id="n-font">{{ i.nama }}</p>
                <h3>Status :</h3>
                <p id="s-font">{{ i.pesan }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


</body>
</html>