{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "css/story7.css" %}'>

    <title>Confirmation</title>
</head>
<body style="background-color: powderblue">
<div class="form-style-6">
    <h1>Are you sure?</h1>
    <form action="/story7/post/success/" method="post">
        {% csrf_token %}
        <input type="text" name="nama" placeholder="Your Name" value="{{name}}" readonly/>
        <input type="text" name="status" placeholder="Your Status" value="{{status}}" readonly/>
        <br>
        <input class="submit-btn" type="submit" value="Post My Status"/>
        <br><br>
        <a href="/">
            <input class="submit-btn" type="submit" value="Cancel"/>
        </a>
    </form>
</div>
</body>
</html>