html, body, h1, h2, h3, h4, h5, h6, p, span, i, div, input, button {
    font-family: 'Arvo', serif;
}

.main-color {
    font-weight: 800;
}

.container {
    margin-left: 5vw;
    margin-right: 5vw;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-container {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.info-container {
    width: 40%;
    border-radius: 20px;
    border: 2px solid lightgray;
    align-items: center;
    padding: 25px;
    margin: 10px;
}

.info-title {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.8px;
}


.info-header svg {
    margin-right: 15px;
}

.main-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
}

.info-image {
    width: 50%;
    height: auto
}

.main-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: 600;
    /*color: #062A77;*/
}

.form-control {
    margin: 0px;
    border: 0px;
    width: 10%;
}

input[type=text] {
    border: none;
    border-bottom: 5px solid #64ABE3;
}

.search-box {
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px #64ABE3;
    padding: 10px 20px 10px 20px;
    margin: 13px;
    display: flex;
    flex-direction: row;
    /*background-color: #BBDBF7;*/
}

.search-box svg {
    color: #64ABE3;
    cursor: pointer;
    margin-right: 15px;
}

.book-item {
    box-shadow: 0 0px 20px #64ABE3;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;;
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.book-thumbnail {
    height: 120px;
    border-radius: 15px;
}

.book-detail {
    margin-left: 30px;
    margin-right: 30px;
}

.book-title {
    font-size: 20px;
    font-weight: 700;
}

.book-publisher {
    color: rgb(167, 167, 167)
}

.book-like-button {
    margin-top: 20px;
    border-radius: 10px;
    border-width: 0px;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0px 15px #64ABE3;
    transition: box-shadow 0.15s;
    color: black
}

.book-like-button:hover {
    box-shadow: 0 0px 10px #0053AF;
}

.book-like-button svg {
    color: #C22727;
}

.book-result-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.liked-book-container {
    text-align: center;
}

#modalButton {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #64ABE3;
}

.modal-body {
    text-align: left;
}

/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 3em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(80px)
    }
    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    z-index: -1;
    top: -10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

